*{
    margin: 0;
}

.mymodal {
    height: auto !important;
    top: 200px !important;
    font-size: 15px !important;
    width:auto;
}

ul li {
    margin: 0 0 50px 0;
}
.ui.button {
    width:200px;
    border-radius:0px !important;
}

.block-center{
    text-align: center !important;
}

.field-with {
    width: 100% !important;
}

.mtop {
    margin-top:10px !important;
}

.login {
    width: 50px !important;
}